.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.63);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.1px);
  -webkit-backdrop-filter: blur(18.1px);
  border: 1px solid rgba(255, 255, 255, 0.51);
  width: 100%;
}

.glass:hover {
  background: hsla(0, 0%, 100%, 0.7);
  border: 1px solid #fff;
}

.box {
  display: flex;
  background: #f7f9fa;
  padding: 48px;
  flex-direction: column;

}

.create-post-container {
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  margin: auto;
  width: 80%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-post-container:hover {
  box-shadow: 0 4px 30px rgba(25, 27, 31, 0.05);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
}

.avatar-typography {
  display: flex;
  gap: 16px;
  align-items: center;

}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 25%;
}

.icon {
  background-color: #f0f3f5;
  border-radius: 25%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  margin-top: 16px;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: auto;
  width: 80%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #e4e7eb;
  margin-bottom: 20px;
  padding: 24px 16px 8px;

}